
*.suo
*.ilk
*.pdb

*.png
*.nas
*.bdf
*.dat
*.lis
*.inp

*.db
*.dbb
*.log
*.err


.vs/
eigen/
glm/
NX/
x64/
win32/
x86/

para-mesh-generator/Debug
para-mesh-generator/Release
para-mesh-generator/x64
para-mesh-generator/x86
para-mesh-generator/win32

